RandomTraitGenerator.CoreLib/Traits.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Value">
    <xs:complexType>
      <xs:attribute name="P" type="xs:float" use="optional" />
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Trait">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Value"/>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraitList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Trait"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>